* {
  box-sizing: border-box;
}
html {
  size: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
p {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* HEADER */
.header {
  background: url(..//img/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  padding-top: 13px;
  padding-bottom: 33px;
  margin-bottom: 64px;
}
.container {
  max-width: 1150px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}

.first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-img {
  width: 54px;
  height: 54px;
  margin-right: 20px;
}
.logo-box {
  display: flex;
  flex-direction: column;
}
.logo-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 1px;
}
.logo-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.logo-social {
  opacity: 0.8;
  width: 24px;
  height: 24px;
  margin-left: 33px;
}
.social {
  display: flex;
  align-items: center;
}
.social a {
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
  margin-left: 13px;
}
.btn {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  padding: 12px 30px;
  margin-left: 45px;
  background: none;
  cursor: pointer;
}
.header-line {
  border: 1px solid #fff;
  margin-top: 14px;
  margin-bottom: 20px;
}
.menu-items {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
.list-item {
  margin-top: 20px;
}
.menu-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-right: 32px;
  margin-top: 32px;
}
.menu-link:hover {
  border-bottom: 1px solid #fff;
}
.header-title {
  font-size: 90px;
  line-height: 130%;
  color: #ffffff;
  width: 724px;
  margin-top: 106px;
  margin-bottom: 8px;
}
.header-text {
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  width: 562px;
  margin-bottom: 94px;
}
.header-btn {
  text-transform: uppercase;
  padding: 20px 53px;
  border-radius: 30px;
  margin: 0;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0;
}
.arrow-down {
  width: 40px;
  height: 40px;
  fill: transparent;
  stroke: white;
}

/* section-tours */
.tours {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
}
.tours-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}
.tours-item {
  max-width: 256px;
  height: auto;
  border: 1px solid #d9d9de;
  border-radius: 6px;
}
.tour-box {
  width: 100%;
  height: 100%;
}
.tours-img {
  display: block;
  width: 100%;
}
.tours-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding: 13px 19px 16px;
}

/* activity */
.activity {
  width: 100%;
  background: rgba(112, 207, 41, 0.1);
  padding-top: 44px;
  padding-bottom: 80px;
}
.activity-title {
  text-align: center;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 50px;
}
.activity-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 37px;
}
.activity-item {
  width: 90%;
}
.activity-item:not(:last-child) {
  margin-right: 33px;
}
.activity-img {
  width: 84px;
  height: 84px;
  margin-bottom: 16px;
  margin-top: 37px;
}

/* offers */
.offers {
  width: 100%;
  padding-top: 76px;
  display: flex;
}
.offers-title {
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 40px;
}
.offer-wrapper {
  margin-bottom: 80px;
}
.offer-list {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(256px, auto);
  grid-auto-columns: minmax(256px, auto);
}
.offer__list-items {
  position: relative;
  background-color: #aaa;
  border-radius: 6px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.offer__list-items:hover {
  transform: scale(1.02);
}
.offer__list-items::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #000000 0%,
    #ffffff 48.44%,
    #ffffff 76.04%,
    #000000 100%
  );
  mix-blend-mode: multiply;
  opacity: 0.7;
  border-radius: 6px;
}
.offer-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.offer-content_title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
  max-width: 256px;
  padding: 16px 17px 16px 17px;
  z-index: 51;
  margin-bottom: auto;
  display: block;
}
.offer-link {
  color: #fff;
}
.offer-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content-title_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.offer-content_text {
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  padding: 19px 17px;
  z-index: 1;
  max-width: 256px;
  display: block;
}
.list-item_big {
  grid-column-end: span 2;
  grid-row-end: span 2;
}
.offer-items_1 {
  background-image: url(../img/offer1.png);
}
.offer-items_2 {
  background-image: url(../img/offer2.png);
}

.offer-items_3 {
  background-image: url(../img/offer3.jpg);
}
.offer-items_4 {
  background-image: url(../img/offer4.jpg);
}
.offer-items_5 {
  background-image: url(../img/offer5.jpg);
}
.offer-items_6 {
  background-image: url(../img/offer6.jpg);
}
.offer-items_7 {
  background-image: url(../img/offer7.jpg);
}
.offer-items_8 {
  background-image: url(../img/offer8.jpg);
}
.offer-items_9 {
  background-image: url(../img/offer9.jpg);
}
.offer-items_10 {
  background-image: url(../img/offer10.jpg);
}
.offer-items_11 {
  background-image: url(../img/offer11.jpg);
}
.offer-items_12 {
  background-image: url(../img/offer12.jpg);
}
.offer-items_13 {
  background-image: url(../img/offer13.jpg);
}

/* map */
.map-title {
  width: 100%;
  margin-top: 70px;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
.map-wrap {
  width: 100%;
  height: 70vh;
  margin-top: 31px;
  margin-bottom: 76px;
}

/* info */
.info {
  width: 100%;
  padding-bottom: 79px;
}
.info-box {
  display: flex;
}
.info-title {
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 21px;
}
.info-wrap {
  margin-right: 32px;
}
.info-text {
  font-size: 18px;
  line-height: 140%;
  color: #333333;
}
.info-link {
  display: block;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #76767a;
  margin-top: 55px;
}
.info-video {
  position: relative;
  width: 640px;
  height: 380px;
  margin-bottom: 79px;
}

/* gallery */
.gallery {
  width: 100%;
  padding-top: 44px;
  padding-bottom: 80px;
  background: rgba(63, 169, 245, 0.1);
}
.gallery-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 52px;
}
.wrap {
  display: flex;
  align-items: center;
}
.gallery-title {
  font-size: 30px;
  line-height: 130%;
  color: #000000;
}
.slider-wrapper {
  width: 100%;
  max-width: 1120px;
  margin-bottom: 32px;
}
.single-item {
  width: 100%;
  margin-bottom: 32px;
}
.gallery-img {
  margin-bottom: 16px;
}
.gallery-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #0050b2;
  margin-right: 170px;
}
.arrows {
  width: 44px;
  height: 44px;
  color: #0061d9;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}
.prevarrow {
  position: absolute;
  top: -17%;
  right: 6%;
}
.nextarrow {
  position: absolute;
  top: -17%;
  right: 0%;
}

/* description */
.description {
  padding-top: 80px;
  padding-bottom: 72px;
}
.description-title {
  font-size: 44px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 45px;
}
.description-box {
  display: grid;
  grid-template-columns: 1fr 736px;
  column-gap: 32px;
}
.description-inner {
  position: relative;
}
.desc1 {
  position: absolute;
  top: 0;
  left: 0;
}
.desc2 {
  position: absolute;
  bottom: 95px;
  right: 0;
}
.bottom-line {
  display: flex;
  height: 100%;
  width: 100%;
  margin-bottom: 54px;
}
.description-text {
  max-width: 736px;
  float: right;
  font-size: 18px;
  line-height: 140%;
  color: #333333;
  margin-bottom: 15px;
}
.line {
  border-bottom: 1px solid #d9d9de;
  width: 100%;
  display: flex;
}
.desc-info {
  display: flex;
  justify-content: space-around;
  margin-top: 41px;
}
.desc-text {
  font-size: 20px;
  line-height: 130%;
  color: #000000;
  font-weight: 500;
  margin-right: 60px;
}

/* form */
.form {
  background: #f5f5f7;
  padding-top: 48px;
  padding-bottom: 76px;
}
.form-title {
  text-align: center;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin-bottom: 51px;
}
.form-group {
  max-width: 900px;
  margin: 0 auto;
}
.input-form {
  font-size: 16px;
  line-height: 130%;
  color: #76767a;
  max-width: 256px;
  padding: 12px;
  width: 100%;
  /* margin-left: 32px; */
  margin-bottom: 15px;
  border: none;
  border: 1px solid #d9d9de;
}
.input-form:not(:last-child) {
  margin-right: 32px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.field {
  display: flex;
}
.input-data {
  display: flex;
  flex-direction: column;
  max-width: 153px;
  margin-right: 40px;
}
.coment {
  max-width: 649px;
  max-height: 105px;
  width: 100%;
  padding: 11px 0 0 14px;
  border: 1px solid #d9d9de;
}
.button-group {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.form-btn {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background: #0061d9;
  border-radius: 30px;
  padding: 20px 65px;
  border: none;
  cursor: pointer;
  margin-right: 140px;
}
.checkbox {
  border: 2px solid #76767a;
  border-radius: 2px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-right: 16px;
}
.form-link {
  font-size: 16px;
  line-height: 130%;
  text-decoration-line: underline;
  color: #76767a;
}

/* footer */
.footer {
  background: #202020;
  padding-top: 40px;
  padding-bottom: 45px;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
}
.footer__menu-items {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.footer-menu_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 17px;
}
.footer__list-item {
  margin-bottom: 10px;
}
.footer__menu-link {
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  opacity: 0.8;
}
.footer-line {
  opacity: 0.2;
  border: 1px solid #ffffff;
  display: block;
  margin-top: 18px;
  margin-bottom: 32px;
}
.footer-contacts_wrap {
  display: flex;
  justify-content: space-between;
}
.footer-contacts_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 7px;
}
.footer-contacts_item {
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 10px;
}
.footer-contacts_link {
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  opacity: 0.8;
}
.footer-logo {
  display: flex;
  justify-content: flex-end;
}
.footer-logo_text {
  font-size: 12px;
  line-height: 130%;
  color: #ffffff;
  margin-right: 14px;
  opacity: 0.5;
}
.privacy-policy {
  font-size: 14px;
  line-height: 130%;
  text-decoration-line: underline;
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
}
.footer-logo_img {
  width: 53px;
  height: 22px;
  opacity: 0.5;
}

.none {
  display: none;
}

@media screen {
}
