@media (max-width: 1088px) {
  .tours-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .info-wrap {
    margin-right: 0;
  }
}
@media (max-width: 1020px) {
  .social-mail {
    display: none;
  }
  .header-title {
    margin-top: 50px;
  }
  .header-btn {
    margin-bottom: 130px;
  }
  .activity-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 25px;
  }
  .offer-list {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(232px, 1fr);
    grid-gap: 20px;
  }
  .number {
    font-size: 45px;
  }
  .desc-text {
    font-size: 18px;
  }
}
@media (max-width: 785px) {
  .social-phone {
    display: none;
  }
  .header-title {
    font-size: 60px;
  }
  .tours-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .activity-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .info-box {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .popup-info {
    min-height: 398px;
  }
  .description-box {
    grid-template-columns: 1fr;
  }
  .description-inner {
    display: none;
  }
}
@media (max-width: 720px) {
  .desc-info {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 625px) {
  .social-box {
    display: none;
  }
  .menu-burger {
    display: inline-block;
    position: absolute;
    top: 24px;
    right: 16px;
    width: 32px;
    height: 24px;
    background-color: transparent;
    padding: 0;
    border: none;
  }
  .menu_burger-img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .menu-list {
    display: block;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    background: #4384d3;
    z-index: 3;
    padding: 35px 0;
    transform: translateY(-200%);
    transition: transform 0.3s ease;
  }
  .menu-list_active {
    transform: translateY(0);
  }
  .list-item {
    margin: 0;
  }
  .menu-link {
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  .header-title {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .header-text {
    margin-bottom: 30px;
  }
  .activity-title {
    font-size: 22px;
    max-width: 270px;
    margin: 0 auto;
  }
  .activity-wrapper {
    grid-template-columns: 1fr;
  }
  .info-title {
    font-size: 22px;
  }
  .description-title {
    font-size: 22px;
  }
}
@media (max-width: 455px) {
  .header-title {
    font-size: 30px;
    margin-bottom: 35px;
  }
  .header-text {
    font-size: 16px;
  }
  .logo-title {
    font-size: 14px;
  }
  .logo-text {
    font-size: 14px;
  }
  .header-line {
    display: none;
  }
  .header {
    min-height: 100%;
  }
  .tours-list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .offer-list {
    grid-template-columns: 288px;
    grid-auto-rows: 288px;
    justify-content: center;
  }
  .list-item_big {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }
  .offers-title {
    font-size: 22px;
    max-width: 230px;
  }
  .map-title {
    font-size: 22px;
  }
  .popup-info {
    min-height: 215px;
  }
  .desc-text {
    font-size: 14px;
  }
}
@media (max-width: 380px) {
  .header-btn {
    margin-bottom: 100px;
    width: 100%;
  }
}
